body{
	height: 100%;
	width: 100%;
}

h1{
	text-align: center;
}

#intro{
	margin-top: 5%;
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
}

#stages{
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
	height: 33%;
	position: absolute;
	border-color: red;
	border-style: dotted;
}

tr{
	border-color: green;
	border-style: dashed;
	margin-left: 5%;
	width: 90%;
	height: 85%;
}

.devStage{
	width: 12.5%;
	/*margin-left: 0;*/
	text-align: center;
	border-style: solid;
	border-color: blue;
	border width: 2px;
	transition: width .75s, font-size .75s;

}

.devStage:hover{
	height:100%;
	width:17.5%;
	font-size: 22px;
	background-color: grey;
	color: white;
}